In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## Use the set_index() and reset_index() methods to define a new dataframe index

In [3]:
bond.set_index(keys="Film", inplace=True)

In [4]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [5]:
# what if we want to get back the numeric index back
bond.reset_index()
# index became the df first column
# drop=False --> don't drop the column which was index
bond.reset_index(drop=False)
# but what if we want to drop the prev index 
bond.reset_index(drop=True)
# but we don't here
bond.reset_index()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [6]:
bond.reset_index(inplace=True)
bond.set_index(keys="Film", inplace=True)
bond.set_index(keys="Year")  # If we do that it'll by default  remove the Film index and also Film index will not added to the coulumn
# In this case we can combine reset_index with set_index
bond.reset_index(inplace=True)
bond.set_index("Year", inplace=True)  # Now Film index move to the df column, not removing it
bond.head()

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

# Retrieve rows by index label with .loc[] Accessor

In [7]:
bond.reset_index(inplace=True)
bond.set_index("Film", inplace=True)
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [8]:
 # .loc[] accessor accessing rows by its index label
bond.loc["Goldfinger"]      # return a series where column name as a index and value is the corresponding row values

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [9]:
bond.loc["GoldenEye"]
# if index label doesn't exist it'll return a key error

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [10]:
# can return a df -- if multiple rows match
bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [11]:
# All python Slicing option applicable
bond.loc["Diamonds Are Forever":"From Russia with Love"]  # also include the last point
# slicing with step
bond.loc["Diamonds Are Forever":"From Russia with Love":2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [12]:
bond.loc["GOldenEye":]
bond.loc[:"GOldenEye"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [13]:
# targetted list
bond.loc[["Die Another Day", "Octopussy"]]  # follow the order as here it given
# always remember that if any value is not matched make the whole expression as am error
# to check
"Gold Bond" in bond.index

False

## Retrieve rows by index position with (numeric) iloc[] Accessor

In [14]:
# same as loc[] but it's with number
bond.iloc[0]

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [15]:
bond.iloc[15]

Year                           1969
Actor                George Lazenby
Director              Peter R. Hunt
Box Office                    291.5
Budget                         37.3
Bond Actor Salary               0.6
Name: On Her Majesty's Secret Service, dtype: object

In [16]:
bond.iloc[[15,20]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [17]:
# same as lo[] if any index doesn't exist will return an error

In [18]:
bond.iloc[4:8]
bond.iloc[20:]
bond.iloc[:4]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

## Second Arguments to loc and iloc accessors

In [20]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [22]:
# By the second argument we can mention that which column we want to extract from the row, rather whole mentioned index column

bond.loc["Moonraker", "Actor"]   #just got the values

'Roger Moore'

In [23]:
bond.loc["Moonraker", "Director"]

'Lewis Gilbert'

In [24]:
# what if we want to extract multiple column of the corresponding row
bond.loc["Moonraker", ["Director", "Box Office"]]  # result in a series

Director      Lewis Gilbert
Box Office            535.0
Name: Moonraker, dtype: object

In [26]:
# multiple index extraction
bond.loc[["Moonraker", "A View to a Kill"], ["Director", "Box Office"]]

                       Director  Box Office
Film
Moonraker         Lewis Gilbert       535.0
A View to a Kill      John Glen       275.2

In [27]:
# All slicing options too -- pretty handy
bond.loc["Moonraker": "Thunderball", "Director": "Budget"]

                                       Director  Box Office  Budget
Film
Moonraker                         Lewis Gilbert       535.0    91.5
Never Say Never Again            Irvin Kershner       380.0    86.0
Octopussy                             John Glen       373.8    53.9
On Her Majesty's Secret Service   Peter R. Hunt       291.5    37.3
Quantum of Solace                  Marc Forster       514.2   181.4
Skyfall                              Sam Mendes       943.5   170.2
Spectre                              Sam Mendes       726.7   206.3
The Living Daylights                  John Glen       313.5    68.8
The Man with the Golden Gun        Guy Hamilton       334.0    27.7
The Spy Who Loved Me              Lewis Gilbert       533.0    45.1
The World Is Not Enough           Michael Apted       439.5   158.3
Thunderball                       Terence Young       848.1    41.9

In [28]:
bond.iloc[14, 2]  # 15th row and 3rd column

'John Glen'

In [29]:
bond.iloc[14, 2:5]

Director      John Glen
Box Office        373.8
Budget             53.9
Name: Octopussy, dtype: object

In [30]:
bond.iloc[[14,18,23], [2,1,4]]

                  Director         Actor  Budget
Film
Octopussy        John Glen   Roger Moore    53.9
Spectre         Sam Mendes  Daniel Craig   206.3
Thunderball  Terence Young  Sean Connery    41.9

In [31]:
# As same operation as loc[]

## Set new value for a specific cell or cells in a row

In [32]:
bond.loc["Dr. No", "Actor"]

'Sean Connery'

In [33]:
# just assign
bond.loc["Dr. No", "Actor"] = "Nafew Prodhan"

In [35]:
bond.loc["Dr. No", "Actor"]  # yee its me

'Nafew Prodhan'

In [36]:
bond.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [44000040303, 70000000, 600000]

In [37]:
bond.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]]

Box Office           44000040303.0
Budget                  70000000.0
Bond Actor Salary         600000.0
Name: Dr. No, dtype: object

## Set multiple values in dataframe

In [39]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [40]:
# what if I want to change multiple duplicate values
# need boolean series
bond["Actor"] == "Sean Connery"

Film
A View to a Kill                   False
Casino Royale                      False
Casino Royale                      False
Diamonds Are Forever                True
Die Another Day                    False
Dr. No                             False
For Your Eyes Only                 False
From Russia with Love               True
GoldenEye                          False
Goldfinger                          True
Licence to Kill                    False
Live and Let Die                   False
Moonraker                          False
Never Say Never Again               True
Octopussy                          False
On Her Majesty's Secret Service    False
Quantum of Solace                  False
Skyfall                            False
Spectre                            False
The Living Daylights               False
The Man with the Golden Gun        False
The Spy Who Loved Me               False
The World Is Not Enough            False
Thunderball                         True
Tomorrow Never Dies                False
You Only Live Twice                 True
Name: Actor, dtype: bool

In [41]:
actor_is_sean_connery = bond["Actor"] == "Sean Connery"

In [44]:
bond.loc[actor_is_sean_connery, "Actor"]  #subset

Film
Diamonds Are Forever     Sean Connery
From Russia with Love    Sean Connery
Goldfinger               Sean Connery
Never Say Never Again    Sean Connery
Thunderball              Sean Connery
You Only Live Twice      Sean Connery
Name: Actor, dtype: object

In [45]:
bond.loc[actor_is_sean_connery, "Actor"] = "Sir Sean Connery"

In [46]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,2.752000e+02,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,5.815000e+02,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,3.150000e+02,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,4.425000e+02,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,4.654000e+02,154.2,17.9
Dr. No,1962,Nafew Prodhan,Terence Young,4.400004e+10,70000000.0,600000.0
For Your Eyes Only,1981,Roger Moore,John Glen,4.494000e+02,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,5.438000e+02,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,5.185000e+02,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,8.204000e+02,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,2.509000e+02,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,4.603000e+02,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,5.350000e+02,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,3.800000e+02,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,3.738000e+02,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,2.915000e+02,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,5.142000e+02,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,9.435000e+02,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,7.267000e+02,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,3.135000e+02,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,3.340000e+02,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,5.330000e+02,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,4.395000e+02,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,8.481000e+02,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,4.632000e+02,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,5.142000e+02,59.9,4.4

## rename index labels or columns in a DataFrame

In [48]:
bond.rename(mapper = {"GoldenEye": "Golden Eye",
                     "The World Is Not Enough": "Best Bond Movie Ever"})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,2.752000e+02,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,5.815000e+02,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,3.150000e+02,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,4.425000e+02,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,4.654000e+02,154.2,17.9
Dr. No,1962,Nafew Prodhan,Terence Young,4.400004e+10,70000000.0,600000.0
For Your Eyes Only,1981,Roger Moore,John Glen,4.494000e+02,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,5.438000e+02,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,5.185000e+02,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,8.204000e+02,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,2.509000e+02,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,4.603000e+02,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,5.350000e+02,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,3.800000e+02,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,3.738000e+02,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,2.915000e+02,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,5.142000e+02,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,9.435000e+02,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,7.267000e+02,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,3.135000e+02,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,3.340000e+02,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,5.330000e+02,45.1,NaN
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,4.395000e+02,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,8.481000e+02,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,4.632000e+02,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,5.142000e+02,59.9,4.4

In [50]:
bond.rename(mapper = {"GoldenEye": "Golden Eye",
                     "The World Is Not Enough": "Best Bond Movie Ever"}, axis = 0)
bond.rename(mapper = {"GoldenEye": "Golden Eye",
                     "The World Is Not Enough": "Best Bond Movie Ever"}, axis = "rows")
bond.rename(mapper = {"GoldenEye": "Golden Eye",
                     "The World Is Not Enough": "Best Bond Movie Ever"}, axis = "index")
bond.rename(index = {"GoldenEye": "Golden Eye",
                     "The World Is Not Enough": "Best Bond Movie Ever"})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,2.752000e+02,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,5.815000e+02,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,3.150000e+02,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,4.425000e+02,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,4.654000e+02,154.2,17.9
Dr. No,1962,Nafew Prodhan,Terence Young,4.400004e+10,70000000.0,600000.0
For Your Eyes Only,1981,Roger Moore,John Glen,4.494000e+02,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,5.438000e+02,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,5.185000e+02,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,8.204000e+02,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,2.509000e+02,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,4.603000e+02,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,5.350000e+02,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,3.800000e+02,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,3.738000e+02,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,2.915000e+02,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,5.142000e+02,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,9.435000e+02,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,7.267000e+02,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,3.135000e+02,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,3.340000e+02,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,5.330000e+02,45.1,NaN
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,4.395000e+02,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,8.481000e+02,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,4.632000e+02,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,5.142000e+02,59.9,4.4

In [52]:
# rename column
bond.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [54]:
bond.rename(mapper = {"Year": "Release Date",
                     "Box Office": "Revenue"}, axis=1)
bond.rename(mapper = {"Year": "Release Date",
                     "Box Office": "Revenue"}, axis="columns")
bond.rename(columns = {"Year": "Release Date",
                     "Box Office": "Revenue"})
# to make permanent called inplace=True param

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,2.752000e+02,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,5.815000e+02,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,3.150000e+02,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,4.425000e+02,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,4.654000e+02,154.2,17.9
Dr. No,1962,Nafew Prodhan,Terence Young,4.400004e+10,70000000.0,600000.0
For Your Eyes Only,1981,Roger Moore,John Glen,4.494000e+02,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,5.438000e+02,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,5.185000e+02,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,8.204000e+02,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,2.509000e+02,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,4.603000e+02,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,5.350000e+02,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,3.800000e+02,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,3.738000e+02,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,2.915000e+02,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,5.142000e+02,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,9.435000e+02,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,7.267000e+02,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,3.135000e+02,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,3.340000e+02,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,5.330000e+02,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,4.395000e+02,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,8.481000e+02,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,4.632000e+02,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,5.142000e+02,59.9,4.4

In [ ]:
# bond.columns=["All column name and where to change just put there the name"]